<wicket:panel>
	<p align="right"><a wicket:id="itemsRSSFeedLink"><span wicket:id="itemsRSSFeedLinkLabel">[RSS_FEED]</span> <img wicket:id="itemsRSSFeedLinkImage" /></a></p>
	<table cellspacing="0">
	     <tbody wicket:id="itemsListContainer">
	         <tr wicket:id="itemsListView">
	             <td>
	                 <a href="#" wicket:id="viewItemLink">
	                 	<img wicket:id="viewItemLinkPicture" />
	                 	<span wicket:id="viewItemLinkName">[ITEM_NAME]</span>
	                 </a>
	                 <br />
	                 <span wicket:id="itemDescription">[ITEM_DESCRIPTION]</span>
	                 <br />
	                 <span wicket:id="itemNavigation">[ITEM_NAVIGATION]</span>
	 				<p />
	             </td>
	         </tr>
	     </tbody>
	 </table>
	 <p align="right"><div wicket:id="itemListNavigator">[NAVIGATOR]</div></p>
</wicket:panel>