<wicket:panel>
	<table>
		<tr>
			<td>
				<a wicket:id="previousLink"><img wicket:id="previousLinkImage"></a>			
			</td>
			<td>
				<table>
					<tbody wicket:id="itemContainer">
						<tr>
							<td>
								<a wicket:id="viewItemLink"><img wicket:id="itemPicture"></a>				
							</td>
							<td>
								<h3><span wicket:id="itemTitle">[NAME]</span></h3>
								<br />
								<span wicket:id="itemDescription">[DESCRIPTION]</span>								
							</td>
						</tr>
					</tbody>
				</table>
			</td>
			<td>
				<a wicket:id="nextLink"><img wicket:id="nextLinkImage"></a>
			</td>
		</tr>
	</table>
</wicket:panel>