<wicket:panel>
   <a wicket:id="first">
     <img src="images/resultset_first.png" border="0" />
   </a>

  
   <a wicket:id="prev">
     <img src="images/resultset_previous.png" border="0" />
   </a>
	
   
   <span wicket:id="navigation">
     <a wicket:id="pageLink" href="#">
       <span wicket:id="pageNumber">[PAGE_NUMBER]</span>
     </a>
   </span>

   <a wicket:id="next">
     <img src="images/resultset_next.png" border="0" />
   </a>

   <a wicket:id="last">
     <img src="images/resultset_last.png" border="0" />
   </a>

</wicket:panel>